@font-face {
    font-family: "OngleleafBuhungJongjin";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungJongjin/OngleleafBuhungJongjin.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungJongjin/OngleleafBuhungJongjin.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungJongjin/OngleleafBuhungJongjin.ttf") format("truetype");
    font-display: swap;
}

.OngleleafBuhungJongjin {
    font-family: "OngleleafBuhungJongjin";
}
